<router-outlet></router-outlet>

<!-- ngx-spinner instances -->
<ngx-spinner
  name="payment-spinner"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="ball-scale-multiple">
</ngx-spinner>

<ngx-spinner
  name="matriculation-spinner"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="ball-scale-multiple">
</ngx-spinner>

<ngx-spinner
  name="book-spinner"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="ball-scale-multiple">
</ngx-spinner>
